#haste-caps h4 {
  display: flex;
}

#devouring-plague, #improved-devouring-plague {
  background-image: url("../Talents/icons/Devouring_Plague.jpg");
}

#shadow-word-pain, #improved-shadow-word-pain {
  background-image: url("../Talents/icons/Shadow_Word_Pain.jpg");
}

#vampiric-touch {
  background-image: url("../Talents/icons/Vampiric_Touch.jpg");
}

.tableContainer {
  width: 100%;
  display: flex;
}

.tableContainer table {
  margin: 10px;
}

.tableContainer table, th, td {
  border: 1px solid #bbb;
  border-collapse: collapse;
}

.tableContainer td {
  width: 150px;
  text-align: right;
}

.tableContainer th {
  width: 200px;
  text-align: left
}
