header {
  display: flex;
  max-width: 1136px;
  justify-content: space-between;
  border-bottom: 1px solid #444;
}

#logo {
  display: flex;
  align-items: center;
}
#logo div {
  background-image: url("logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px;
  height: 50px;
  width: 50px;
}

#logo h2 {
  margin: 0px;
}

header nav {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  height: 50px;
  padding-left: 0px;
  list-style-type: none;
  padding-right: 16px;
}

header a {
  padding: 10px;
  align-items: center;
  color: #bbb;
}

@media (max-width: 652px) {
  header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  header ul {
    background-image: url("hamburger.png");
    filter: invert(82%) sepia(2%) saturate(0%) hue-rotate(356deg) brightness(95%) contrast(83%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 16px;
    height: 40px;
    width: 40px;
  }

  header ul {
    display: block;
  }

  header li {
    display: none;
    font-size: 1.5em;
    position: relative;
    left: 60px;
    top: 70px;
  }

}
