header {
  width: 1136px;
  justify-content: space-between;
}
#logo img {
  margin: 16px;
  height: 61px;
  width: 61px;
}
nav ul {
  padding-left: 0px;
  list-style-type: none;
  padding-right: 16px;
}
nav li {
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: black;
}
@media (max-width: 652px) {
  header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  nav ul {
    padding-left: 16px;
    height: 61px;
    width: 61px;
  }
  nav li {
    display: none;
  }
}
