#talents > div {
  display: flex;
  justify-content: center;
}

#talents h4 {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px solid #444;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  #talents > div {
    flex-wrap: wrap-reverse;
  }

}
.popup {
  background-color: rgba(16, 16, 16, 0.8);
  position: fixed;
  z-index: 2;
}

.talent-tooltip {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #bbb;
  width: 256px;
  box-sizing: border-box;
  border-radius: 4px;
  padding-bottom: 10px;
}


.tooltip-title {
  padding: 10px;
  text-align: left;
  display: flex;
}

.talent-analysis {
  width: 256px;
  padding-bottom: 10px;
}

.tooltip-output {
  font-size: 0.8em;
  padding: 10px;
}

.shadow {
  height: 440px;
  width: 256px;
  background-image: url("PriestShadow.png");
  position: relative;
  z-index: 0;
  overflow-y: hidden;
}

.discipline {
  height: 440px;
  width: 256px;
  background-image: url("PriestDiscipline.png");
  position: relative;
  z-index: 0;
}

.holy {
  height: 440px;
  width: 256px;
  background-image: url("PriestHoly.png");
  position: relative;
  z-index: 0;
}

.talent {
  width: 44px;
  height: 44px;
  margin: 10px;
  position: relative;
}

.empty-talent {
  opacity: 0;
}

.talent div {
  position: relative;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  z-index: -1;
}


#darkness {
  background-image: url("icons/Darkness.png");
}
#veiled-shadows {
  background-image: url("icons/Veiled_Shadows.png")
}

#improved-psychic-scream {
  background-image: url("icons/Improved_Psychic_Scream.png");
}
#twisted-faith {
  background-image: url("icons/Twisted_Faith.png");
}

#shadowform {
  background-image: url("icons/Shadowform.png");
}
#phantasm {
  background-image: url("icons/Phantasm.png");
}
#harnessed-shadows {
  background-image: url("icons/Harnessed_Shadows.png");
}

#silence {
  background-image: url("icons/Silence.png");
}
#masochism {
  background-image: url("icons/Masochism.png");
}
#mind-melt {
  background-image: url("icons/Mind_Melt.png");
}

#pain-and-suffering {
  background-image: url("icons/Pain_and_Suffering.png");
}
#paralysis {
  background-image: url("icons/Paralysis.png");
}

#psychic-horror {
  background-image: url("icons/Psychic_Horror.png");
}
#sin-and-punishment {
  background-image: url("icons/Sin_and_Punishment.png");
}
#shadowy-apparition {
  background-image: url("icons/Shadowy_Apparition.png");
}

#power-word-shield, #improved-power-word-shield {
  background-image: url("icons/Power_Word_Shield.png");
}

#twin-disciplines {
  background-image: url("icons/Twin_Disciplines.png");
}

#mental-agility {
  background-image: url("icons/Mental_Agility.png");
}

#evangelism {
  background-image: url("icons/Evangelism.png");
}

#inner-fire {
  background-image: url("icons/Inner_Fire.png");
}

#soul-warding {
  background-image: url("icons/Soul_Warding.png");
}

#guardian-spirit {
  background-image: url("icons/Guardian_Spirit.jpg");
}

#improved-renew{
  background-image: url("icons/Renew.png");
}

#empowered-healing {
  background-image: url("icons/Greater_Heal.png");
}

#divine-fury {
  background-image: url("icons/Divine_Fury.png");
}

#desperate-prayer {
  background-image: url("icons/Desperate_Prayer.png");
}

#surge-of-light {
  background-image: url("icons/Surge_of_Light.png");
}

#inspiration {
  background-image: url("icons/Inspiration.png");
}
