#spells ul p {
  margin-bottom: 0px;
}

.spell-title {
  display: inline;
  font-weight: bolder;
}

#spells li .spell-border {
  position: relative;
  top: 10px;
}

.spell-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  z-index: -1;
}
.notable-spell {
  cursor: pointer;
}

.notable-spell:hover .spell-tooltip {
  display: block;
}
.spell-border {
  cursor: help;
  display: inline-flex;
  margin-right: 5px;
}

.spell-tooltip {
  background-color: rgba(16, 16, 16, 0.8);
  font-weight: normal;
  padding: 15px;
  color: orange;
  opacity: 0;
  flex-direction: column;
  width: 250px;
  z-index: 10;
  margin-top: 10px;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #444;
  font-size: 0.8em;
}

.spell-tooltip-title {
  color: #bbb;
  font-size: 1em;
  font-weight: bolder;
}
.tooltip-table {
  width: 100%;
  color: #bbb;
}
.tooltip-table td {
  border-style: none;
}

.tooltip-table td:nth-child(2n) {
  text-align: right;
}

#vampiric-embrace {
  background-image: url("../Talents/icons/Vampiric_Embrace.jpg");
}
#shadow-word-death {
  background-image: url("../Talents/icons/Shadow_Word_Death.jpg");
}
#dispersion {
  background-image: url("../Talents/icons/Dispersion.jpg");
}
#mass-dispel {
  background-image: url("../Talents/icons/Mass_Dispel.jpg");
}

#mind-control {
  background-image: url("../Talents/icons/Mind_Control.jpg");
}

#contents li {
  font-weight: bolder;
}
