#spells ul p {
  margin-bottom: 0px;
}

#spells li {
  font-weight: bolder;
}

#spells li .spell-border {
  position: relative;
  top: 10px;
}

.spell-icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  z-index: -1;
}

.spell-border {
  display: inline-flex;
  margin-right: 5px;
}

#vampiric-embrace {
  background-image: url("vampiric_embrace.jpg");
}
#shadow-word-death {
  background-image: url("shadow_word_death.jpg");
}
#dispersion {
  background-image: url("dispersion.jpg");
}
#mass-dispel {
  background-image: url("mass_dispel.jpg");
}

#mind-control {
  background-image: url("../Rotation/Mind_Control.jpg");
}

#contents li {
  font-weight: bolder;
}
