#container {
  display: block;
  width: 100%;
}

#container > * {
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
    max-width: 1136px;
    display: flex;
}

#wrapper nav {
  padding-right: 40px;
}

#wrapper nav ul {
  list-style-type: none;
}

#wrapper nav li {
  padding-bottom: 10px;
}

#wrapper input {
  display: none;
}

#wrapper label {
  color: #444;
}

#wrapper label:hover {
  color: #bbb;
}

#wrapper input:checked + label {
  color: #bbb;
  text-decoration: underline;
}

article {
  width: 950px;
  padding-left: 40px;
}

@media (max-width: 576px) {
  #wrapper {
    flex-direction: row-reverse;
  }

  #wrapper nav {
    padding: 0px;
    width: 0px;
  }

  #wrapper nav ul {
    background-image: url("Header/hamburger.png");
    filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(151deg) brightness(83%) contrast(80%);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 20px;
    top: -90px;
    height: 40px;
    width: 40px;
    z-index: 10;
  }
  #modalMenu {
    display: none;
    background-color: white;
    filter: none;
    height: 100vh;
    width: 350px;
    position: relative;
    left: -60px;
    top: -30px;
    z-index: 0;
  }
  #wrapper nav li {
    position: relative;
    left: 20px;
    top: 120px;
    height: 30px;
  }

  article {
    padding-left: 20px;
    padding-right: 20px;
  }
}
