#rotation h4 {
  display: flex;
}


.inline-border {
  margin-right: 0px;
  height: 25px;
  width: 25px;
  position: relative;
  top: 5px;
}

.inline-icon {
  height: 20px;
  width: 20px;
}

#shadowfiend {
  background-image: url("../Talents/icons/Shadowfiend.jpg");
}

#archangel {
  background-image: url("../Talents/icons/Archangel.jpg");
}

#stopwatch {
  background-image: url("../Talents/icons/Pocketwatch.jpg");
}

#gear-cog {
  background-image: url("../Talents/icons/Gear_Cog.jpg");
}

#mind-flay {
  background-image: url("../Talents/icons/Mind_Flay.jpg");
}

#mind-spike {
  background-image: url("../Talents/icons/Mind_Spike.jpg");
}

#mind-blast, #improved-mind-blast {
  background-image: url("../Talents/icons/Mind_Blast.jpg");
}
